
.wrap1 {
  min-width: 1100px;
  justify-content: space-between;
  display: flex;
	width: 200px;
	height: 200px;
	/*改变左右上下,图片方块移动*/
	margin: 0px auto;
	position: relative;
	
	margin-bottom: 700px;
}

.chat-history img,
.chat-history video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}
.avatar-image{
  object-fit: cover;
  width: 55px;
  height: 55px;
  border-radius: 25px;
}
ul {
  list-style-type: none;
}
.wrap2 {
	margin-left: auto;
	margin-right: auto;
	display: flex;
  padding-left: 20px;

	justify-content: center;
}
/*包裹所有容器样式*/
.cube {
  
	width: 200px;
	height: 200px;
	margin: 0 auto;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-80deg);
	-webkit-animation: rotate 20s infinite;
	/*匀速*/
	animation-timing-function: linear;
}
.cube-wrap{
  margin-left: 160px;
  margin-top: 350px;
}

@media only screen and (min-width: 1310px) {
  
  .cube-wrap{
    margin-left: 300px;
    margin-top: 350px;
  }

}

@media only screen and (min-width: 1510px) {
  
  .cube-wrap{
    margin-left: 400px;
    margin-top: 350px;
  }

}


@media only screen and (min-width: 1650px) {
  
  .cube-wrap{
    margin-left: 500px;
    margin-top: 350px;
  }

}

@-webkit-keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}
.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
	opacity: 0.90;
	transition: all 0.4s;
}

.heading_title_mobile, .seofy_module_text .STYLE1{
  font-weight: 500;
  font-family: 'Pacifico', cursive;
  font-size: 40px !important;
}
.title-love {
  font-size: 50px;
}
/*定义所有图片样式*/
.pic {
	width: 200px;
	height: 200px;
}
.cube .out_front {
	transform: rotateY(0deg) translateZ(100px);
}
.cube .out_back {
	transform: translateZ(-100px) rotateY(180deg);
}
.cube .out_left {
	transform: rotateY(90deg) translateZ(100px);
}
.cube .out_right {
	transform: rotateY(-90deg) translateZ(100px);
}
.cube .out_top {
	transform: rotateX(90deg) translateZ(100px);
}
.cube .out_bottom {
	transform: rotateX(-90deg) translateZ(100px);
}
/*定义小正方体样式
*/
.cube span {
	display: bloack;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50px;
	left: 50px;
}
.cube .in_pic {
	width: 100px;
	height: 100px;
}
.cube .in_front {
	transform: rotateY(0deg) translateZ(50px);
}
.cube .in_back {
	transform: translateZ(-50px) rotateY(180deg);
}
.cube .in_left {
	transform: rotateY(90deg) translateZ(50px);
}
.cube .in_right {
	transform: rotateY(-90deg) translateZ(50px);
}
.cube .in_top {
	transform: rotateX(90deg) translateZ(50px);
}
.cube .in_bottom {
	transform: rotateX(-90deg) translateZ(50px);
}
/*鼠标移入后样式*/
.cube:hover .out_front {
	transform: rotateY(0deg) translateZ(200px);
}
.cube:hover .out_back {
	transform: translateZ(-200px) rotateY(180deg);
}
.cube:hover .out_left {
	transform: rotateY(90deg) translateZ(200px);
}
.cube:hover .out_right {
	transform: rotateY(-90deg) translateZ(200px);
}
.cube:hover .out_top {
	transform: rotateX(90deg) translateZ(200px);
}
.cube:hover .out_bottom {
	transform: rotateX(-90deg) translateZ(200px);
}
.hovertreeinfo {
	text-align: center;
}
.hovertreeinfo a {
	color: white;
}

#footer1 {
	margin-top: 200px;
    background-color:#f6f2f2;
    height: 220px;
}

#quote {
    font-family: 'Pacifico', cursive;
    text-align:center;
    font-size: 24px;
    position: relative;
    top:5px;
    left: 150px;
}

@font-face {
	font-family: 'MyFontFamily';
	 src: url("fonts/IndieFlower-Regular.ttf") format('woff'), 
	 url("fonts/IndieFlower-Regular.ttf")  format('truetype');
  }



  .finbyz-timeline{
	background: #f4f6fd url(http://seofy.wgl-demo.net/wp-content/uploads/2018/11/section_timeline1.png?id=537) !important;
	  background-position: center !important;
	  background-repeat: no-repeat !important;
	  background-size: cover !important;
  }
  .wgl-row-animation{
	 position: relative;
	  z-index: 1;
  }
  .wgl-row-animation {
  position: relative;
  z-index: 1; }
  .wgl-row-animation .wpb_column {
  position: relative;
  z-index: 2; }
  .wgl-row-animation .wgl-row_background {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .seofy_module_time_line_vertical {
  position: relative;
  z-index: 1;
  padding: 70px 0; }
  .seofy_module_time_line_vertical:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 2px;
  left: 50%;
  top: 0;
  margin-left: -1px;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) -webkit-calc(100% - 100px), transparent 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) -moz-calc(100% - 100px), transparent 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) calc(100% - 100px), transparent 100%); }
  .seofy_module_time_line_vertical.appear_anim .time_line-item .time_line-date {
    font-family: 'Pacifico', cursive;
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  transform: translateX(-20%);
  opacity: 0; }
  .seofy_module_time_line_vertical.appear_anim .time_line-item .seofy_hexagon {
  opacity: 0; }
  .seofy_module_time_line_vertical.appear_anim .time_line-item .time_line-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  -o-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0; }
  .seofy_module_time_line_vertical.appear_anim .time_line-item:nth-child(even) .time_line-date {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  -o-transform: translateX(20%);
  transform: translateX(20%); }
  .seofy_module_time_line_vertical.appear_anim .time_line-item:nth-child(even) .time_line-content {
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  transform: translateX(-20%); }
  .seofy_module_time_line_vertical .time_line-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .seofy_module_time_line_vertical .time_line-item:last-child {
  margin-bottom: 0; }
  .seofy_module_time_line_vertical .time_line-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date_wrap {
  margin-right: -webkit-calc( 50% - 10px);
  margin-right: -moz-calc( 50% - 10px);
  margin-right: calc( 50% - 10px);
  margin-left: 50px; }
  .seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date {
  right: auto;
  left: 100%;
  padding-left: 50px;
  padding-right: 0; }
  .seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-image {
  left: 0;
  right: auto; }
  .seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-content {
  text-align: right; }
  .seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-content:before {
  left: auto;
  right: 0; }
  .seofy_module_time_line_vertical .seofy_hexagon{
	position:absolute;
	top:0;
	z-index:-1;
  }
  .seofy_module_time_line_vertical .time_line-item:nth-child(even) .seofy_hexagon {
  left: auto;
  right: 0; }
  .seofy_module_time_line_vertical .time_line-item.item_active .seofy_hexagon:nth-child(2) {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2); }
  .seofy_module_time_line_vertical .time_line-item.item_show .time_line-content, .seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .time_line-content {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
  .seofy_module_time_line_vertical .time_line-item.item_show .seofy_hexagon, .seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .seofy_hexagon {
  opacity: 1; }
  .seofy_module_time_line_vertical .time_line-item.item_show .time_line-date, .seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .time_line-date {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
  .seofy_module_time_line_vertical .time_line-date_wrap {
  position: relative;
  z-index: 1;
  margin-left: -webkit-calc( 50% - 10px);
  margin-left: -moz-calc( 50% - 10px);
  margin-left: calc( 50% - 10px);
  margin-right: 50px; }
  .seofy_module_time_line_vertical .seofy_hexagon {
  height: 22px;
  width: 20px;
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  transition: opacity 0.8s; }
  .seofy_module_time_line_vertical .seofy_hexagon:first-child {
  position: relative;
  z-index: 0; }
  .seofy_module_time_line_vertical .seofy_hexagon:nth-child(2) svg {
  fill: #ffffff !important; }
  .seofy_module_time_line_vertical .time_line-date {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 100%;
  padding-right: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
  .seofy_module_time_line_vertical .time_line-content {
  position: relative;
  z-index: 1;
  padding: 23px 30px;
  width: 100%;
  max-width: 500px;
  -webkit-box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
  -moz-box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
  box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }
  .seofy_module_time_line_vertical .time_line-content:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }
  .seofy_module_time_line_vertical .time_line-image {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0; }
  .seofy_module_time_line_vertical h5{
    text-align: center;
    margin-top: 15px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
  }
  .seofy_module_time_line_vertical .time_line-title {
    text-align: center;
    font-family: 'Pacifico', cursive;
  font-size: 28px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 8px; }
  .seofy_module_time_line_vertical .time_line-descr {
    word-wrap: break-word;      /* IE 5.5-7 */
      white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
      white-space: pre-wrap;  
  line-height: 24px; 
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}
  .seofy_module_time_line_vertical .time_line-item:hover .time_line-content {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
  background: white; }
  .seofy_module_time_line_vertical .time_line-item:hover .time_line-date {
  
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px); }
  .seofy_module_time_line_vertical .time_line-item:hover:nth-child(even) .time_line-content {
    
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px); }
  .seofy_module_time_line_vertical .time_line-item:hover:nth-child(even) .time_line-date {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px); }
  .seofy_module_time_line_vertical .time_line-item:hover.item_active .seofy_hexagon:nth-child(2) {
  -webkit-animation: pulse_hexagon_active 2s infinite;
  -moz-animation: pulse_hexagon_active 2s infinite;
  -o-animation: pulse_hexagon_active 2s infinite;
  animation: pulse_hexagon_active 2s infinite; }
  .seofy_module_time_line_vertical .time_line-item:hover .seofy_hexagon:nth-child(2) {
  -webkit-animation: pulse_hexagon 2s infinite;
  -moz-animation: pulse_hexagon 2s infinite;
  -o-animation: pulse_hexagon 2s infinite;
  animation: pulse_hexagon 2s infinite; }
  @-webkit-keyframes pulse_hexagon {
  0% {
  -webkit-transform: scale(1);
  transform: scale(1); }
  70% {
  -webkit-transform: scale(2);
  transform: scale(2); }
  100% {
  -webkit-transform: scale(1);
  transform: scale(1); } }
  @-moz-keyframes pulse_hexagon {
  0% {
  -moz-transform: scale(1);
  transform: scale(1); }
  70% {
  -moz-transform: scale(2);
  transform: scale(2); }
  100% {
  -moz-transform: scale(1);
  transform: scale(1); } }
  @-o-keyframes pulse_hexagon {
  0% {
  -o-transform: scale(1);
  transform: scale(1); }
  70% {
  -o-transform: scale(2);
  transform: scale(2); }
  100% {
  -o-transform: scale(1);
  transform: scale(1); } }
  @keyframes pulse_hexagon {
  0% {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  70% {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2); }
  100% {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); } }
  @-webkit-keyframes pulse_hexagon_active {
  0% {
  -webkit-transform: scale(2);
  transform: scale(2); }
  30% {
  -webkit-transform: scale(1);
  transform: scale(1); }
  100% {
  -webkit-transform: scale(2);
  transform: scale(2); } }
  @-moz-keyframes pulse_hexagon_active {
  0% {
  -moz-transform: scale(2);
  transform: scale(2); }
  30% {
  -moz-transform: scale(1);
  transform: scale(1); }
  100% {
  -moz-transform: scale(2);
  transform: scale(2); } }
  @-o-keyframes pulse_hexagon_active {
  0% {
  -o-transform: scale(2);
  transform: scale(2); }
  30% {
  -o-transform: scale(1);
  transform: scale(1); }
  100% {
  -o-transform: scale(2);
  transform: scale(2); } }
  @keyframes pulse_hexagon_active {
  0% {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2); }
  30% {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  100% {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2); } }
  #time_line_5cf90ca818f641 .time_line-date{
  color: #ffa705;
  }#time_line_5cf90ca818f641 .time_line-content:before{
  background: #ffa705;
  }
  #time_line_5cf90ca818fa82 .time_line-date{
  color: #ff5600;
  }#time_line_5cf90ca818fa82 .time_line-content:before{
  background: #ff5600;
  }
  #time_line_5cf90ca818fc83 .time_line-date{
  color: #69e9f2;
  }#time_line_5cf90ca818fc83 .time_line-content:before{
  background: #69e9f2;
  }
  #time_line_5cf90ca818fe44 .time_line-date{
  color: #12affe;
  }#time_line_5cf90ca818fe44 .time_line-content:before{
  background: #12affe;
  }
  #time_line_5cf90ca818ffe5 .time_line-date{
  color: #3224e9;
  }#time_line_5cf90ca818ffe5 .time_line-content:before{
  background: #3224e9;
  }
  .extended-parallax {
  position: absolute;
  z-index: -1;
  width: 100%; }
  .extended-parallax img{
	max-width:100%;
  }
  @media only screen and (max-width: 767px) {
	.seofy_module_time_line_vertical:before {
  left: 45px; }
  .seofy_module_time_line_vertical .time_line-date_wrap {
  margin-left: 35px !important;
  margin-right: 35px !important; }
  .seofy_module_time_line_vertical .time_line-date {
  padding: 0 !important;
  right: 100% !important;
  left: auto !important; }
  .seofy_module_time_line_vertical .time_line-content {
  text-align: left !important; }
  .seofy_module_time_line_vertical .time_line-content:before {
  left: 0 !important;
  right: auto !important; }
  .seofy_module_time_line_vertical .time_line-item {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
  -moz-box-orient: horizontal !important;
  -moz-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important; }
  .seofy_module_time_line_vertical .time_line-date {
  -webkit-transform: rotate3d(0, 0, 1, -90deg) !important;
  -moz-transform: rotate3d(0, 0, 1, -90deg) !important;
  transform: rotate3d(0, 0, 1, -90deg) !important; }
  .seofy_module_time_line_vertical.appear_anim .time_line-date {
  -webkit-transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important;
  -moz-transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important;
  transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important; }
  .seofy_module_time_line_vertical.appear_anim .time_line-content {
  -webkit-transform: translateX(20%) !important;
  -moz-transform: translateX(20%) !important;
  -ms-transform: translateX(20%) !important;
  -o-transform: translateX(20%) !important;
  transform: translateX(20%) !important; }
  .seofy_module_time_line_vertical.appear_anim .time_line-item.item_show .time_line-date {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
  -moz-transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
  transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
  width: 100px;
  white-space: normal; }
  .seofy_module_time_line_vertical.appear_anim .time_line-item.item_show .time_line-content {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important; }
  .seofy_module_time_line_vertical .time_line-item:hover .time_line-content {
  -webkit-transform: translateX(5px) !important;
  -moz-transform: translateX(5px) !important;
  -ms-transform: translateX(5px) !important;
  -o-transform: translateX(5px) !important;
  transform: translateX(5px) !important; }
  .seofy_module_time_line_vertical .time_line-item.item_show:hover .time_line-content {
  -webkit-transform: translateX(5px) !important;
  -moz-transform: translateX(5px) !important;
  -ms-transform: translateX(5px) !important;
  -o-transform: translateX(5px) !important;
  transform: translateX(5px) !important; }
  }

  
  .controls {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .controls:hover:after {
    transform: translateX(-10px) rotate(45deg);
  }
  .controls:hover:active:after {
    transform: translateX(-20px) rotate(45deg);
    transition: 300ms all;
  }
  .controls:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transition: 500ms all;
  }
  .controls.next {
    left: auto;
    right: 120px;
    transform: rotate(180deg);
  }
  
  .time-line {
    width: 100%;
    height: 480px;
    background-color: #dbb481;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .time-line * {
    transition: 800ms all cubic-bezier(0.23, 1, 0.32, 1);
  }
  .time-line .dates-overflow {
    left: 0;
    width: 500vw;
    position: absolute;
    bottom: 50px;
    height: 50px;
  }
  .time-line .dates-wrap {
    display: inline-block;
    position: absolute;
    height: 100%;
    left: calc(50vw - 80px);
  }
  .time-line .dates-wrap:before, .time-line .dates-wrap:after {
    content: "";
    position: absolute;
    width: 160px;
    height: 100%;
    left: -1px;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #adc6dd 0%, rgba(125, 185, 232, 0) 100%);
    z-index: 2;
  }
  .time-line .dates-wrap:after {
    left: auto;
    right: -1px;
    background: linear-gradient(to left, #0053a0 0%, rgba(125, 185, 232, 0) 100%);
    transform: translate(50%, -50%);
  }
  .time-line .dates-wrap .date {
    width: 160px;
    position: relative;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 800ms all cubic-bezier(0.23, 1, 0.32, 1);
  }
  .time-line .dates-wrap .date .date-content {
    visibility: hidden;
    position: absolute;
    width: 340px;
    height: 340px;
    bottom: 100%;
    margin-bottom: 80px;
    border-radius: 3px;
    transform-origin: 50% 100%;
    transform: scale(0.7);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
  }
  .time-line .dates-wrap .date .date-content:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    top: 100%;
    margin-top: 8px;
    height: 60px;
    opacity: 0;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: 800ms all cubic-bezier(0.23, 1, 0.32, 1);
  }
  .time-line .dates-wrap .date .date-content .date-image {
    width: 100%;
    height: calc(100% - 60px);
    background-image: url(https://images.unsplash.com/photo-1573591172652-f548fe02ef77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=844&q=80);
    background-size: cover;
    background-position: center;
  }
  .time-line .dates-wrap .date .date-content > div {
    opacity: 0;
    transform: translateY(40px);
  }
  .time-line .dates-wrap .date .date-content .date-text {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0053A0;
  }
  .time-line .dates-wrap .date .date-year {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .time-line .dates-wrap .date .date-year:hover {
    opacity: 1 !important;
  }
  .time-line .dates-wrap .date .date-year:hover:after {
    transform: scale(1) !important;
  }
  .time-line .dates-wrap .date .date-year p {
    position: absolute;
    top: 0px;
    line-height: 0;
    font-size: 35px;
    font-weight: 900;
    transform: scale(0.4);
    z-index: 2;
  }
  .time-line .dates-wrap .date .date-year:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fff;
    bottom: 100%;
    margin-bottom: -7px;
    border-radius: 50%;
    transform: scale(0.4);
    transition: 500ms all;
  }
  .time-line .dates-wrap .date .date-year:before {
    content: "";
    position: absolute;
    top: 0;
    width: 200%;
    height: 1px;
    background-color: #fff;
  }
  .time-line .dates-wrap .date.sibling .date-year {
    opacity: 0.6;
  }
  .time-line .dates-wrap .date.sibling .date-year:after {
    transform: scale(0.8);
  }
  .time-line .dates-wrap .date.sibling .date-year p {
    transform: scale(0.6);
  }
  .time-line .dates-wrap .date.active + .date .date-year {
    opacity: 0.6;
  }
  .time-line .dates-wrap .date.active + .date .date-year:after {
    transform: scale(0.8);
  }
  .time-line .dates-wrap .date.active + .date .date-year p {
    transform: scale(0.6);
  }
  .time-line .dates-wrap .date.active .date-year {
    opacity: 1;
  }
  .time-line .dates-wrap .date.active .date-year:before {
    width: calc(200% - 11px);
  }
  .time-line .dates-wrap .date.active .date-year:after {
    transform: scale(1);
  }
  .time-line .dates-wrap .date.active .date-year p {
    transform: scale(1.2);
  }
  .time-line .dates-wrap .date.active .date-content {
    transform: scale(1);
    visibility: visible;
  }
  .time-line .dates-wrap .date.active .date-content:after {
    transition-delay: 200ms;
    opacity: 1;
    transform: scaleY(1);
  }
  .time-line .dates-wrap .date.active .date-content div {
    transition-delay: 200ms;
    opacity: 1;
    transform: translateY(0px) scale(1);
  }

  .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.slider {
  margin: 0 auto;
  max-width: 500px;
}

.slide_viewer {
  z-index: 3;
  height: 540px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}
.slide:nth-of-type(5) {
  background: #C75534;
}

.slide:nth-of-type(6) {
  background: #D7A151;
}
.slide:nth-of-type(7) {
  background: #D1D1D4;
}
.slide:nth-of-type(8) {
  background: #C75534;
}
.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  z-index: 2;
  height: 50px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -265px;
}
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
}
.previous_btn {
  text-align:initial;
  bottom: 0;
  left: -25px;
  margin: auto;
  position: absolute;
  top: 0;
}
.next_btn {
  text-align:initial;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: -27px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 25px;
  opacity: 0.25;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 25px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }


}

@media only screen and (max-width: 1101px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
  #fullpage {
    min-height: 113vh;
  }
}


#fullpage {
  min-width: 1100px;
  display: none;
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

.no-scroll {
  overflow: hidden;
}

#closeBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.see-more,
.see-less {
    color: #2e0cf0;
    cursor: pointer;
    font-size: 14px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.see-more:hover,
.see-less:hover {
    text-decoration: underline;
}


































/* chat */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

/* body {
  background: #C5DDEB;
 
  padding: 40px 0;
  color: white;
} */

.container-chat {
  z-index: 500;
  font: 14px/20px "Lato", Arial, sans-serif;
  width: 750px;
  border-radius: 5px;
  padding: 40px 0;
  color: #434651;;
  position: relative;
  margin-left: 230px;

}

.people-list {
  display: none;
  position: absolute;
  left: -262px;
  z-index: 10000;
  border-radius: 20px;
  width: 260px;
  background-image: url("./img/bg.jpg");
  border-right: 2px white;
}
.people-list .search {
 
  padding: 20px;
}
.people-list input {
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 14px;
  background: #fbcffc;
  width: 90%;
  font-size: 14px;
}
.name{
  color: #434651;
  font-family: 'Pacifico', cursive;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  word-break: break-all;
  word-wrap: break-word !important;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  border-radius: 20px;
  width: 490px;
  float: left;
  background: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url("./img/bg.jpg");
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  background-size: cover;
  background-image: url("./img/bg.jpg");
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
  background-color: #f7f9fb;
}
.chat .chat-history ul {
  padding-left: 0px;

}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  display: inline-block;
word-break: break-word;

  color: rgb(65, 63, 63);
  padding: 10px 15px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 30px;
  max-width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: linear-gradient(rgb(255, 13, 158), rgb(249, 0, 90));
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  display: inline-block;
word-break: break-word;

  background: white;
}
.chat .chat-history .other-message {
  display: inline-block;
  word-break: break-word;
  
  background: linear-gradient(rgb(255, 13, 158), rgb(249, 0, 90));
  color: white;
}
.chat .chat-history .other-message:after {
  border-bottom-color: linear-gradient(rgb(255, 13, 158), rgb(249, 0, 90));
  left: 93%;
}
.chat .chat-message {
  background-image: url("./img/bg.jpg");
  padding: 10px 10px 20px 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.chat .chat-message textarea {
  border: none;
    outline: none;


  width: 100%;
  border: none;
  padding: 5px 10px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-top: 10px;
  border-radius: 20px;
  height: 35px;
  resize: none;
  
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  background-image: url(./img/bg.jpg);
  padding: 0;
  float: right;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.chat .chat-message button:hover {
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: linear-gradient(rgb(255, 13, 158), rgb(249, 0, 90));
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


#emoji-box{
  position: absolute;

  top: 264px;
  left: 11px;
  display: none;
}